h5 {
    padding-left:16px;
    padding-top: 0;
    margin-top:0;
    font-family: 'Permanent Marker';
    font-size: 70px;
    background-color: #E7E736;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    width: 500px;
    height: 110px;  
}

p{
    padding-left: 10px;
    padding-right:10px;
}
